.miniBox {
   position: relative;
}

.miniBoxEasyCentral {
   position: relative;
   width: var(--easy-central);
   height: var(--easy-central);
}

.miniBoxEasyPeripheralWidth {
   width: var(--easy-peripheral);
}

.miniBoxEasyPeripheralHeight {
   height: var(--easy-peripheral);
}

.miniBoxHardCentral {
   position: relative;
   width: var(--hard-central);
   height: var(--hard-central);
}

.miniBoxHardPeripheralWidth {
   width: var(--hard-peripheral);
}

.miniBoxHardPeripheralHeight {
   height: var(--hard-peripheral);
}

.medallion {
   pointer-events: none;
   /* target medallion has an added border on all 4 sides, such that the visible image is 1/9 of the total image */
   width: calc(var(--key-width) * 9);
   z-index: 1;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.medallionTrace {
   opacity: 0.3;
}

.wholeKey {
   position: relative;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: var(--key-width);
}

.wholeKeyUpperCase {
   width: calc(var(--key-width) + var(--spacer));
   margin-right: var(--spacer);
}

.wholeKeyBackspace {
   width: calc(var(--key-width) + var(--spacer));
   margin-left: var(--spacer);
}

.wholeKeySpacebar {
   width: calc(var(--key-width) * 5);
}

.shownKey {
   pointer-events: none;
   position: absolute;
   top: 7%;
   left: 9%;
   height: 86%;
   width: 82%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 6px;
   box-sizing: border-box;
   border: 1px solid black;
   font-size: 1.35rem;
   color: var(--letter-color);
}

.shownKeyUpperCase {
   font-family: LeagueMonoVariable;
   font-size: 2.4rem;
   background-color: var(--dark-gray);
}

.highlight {
   background-color: var(--highlight);
}

.shownKeyBackspace {
   top: 20%;
   left: 0%;
   height: 60%;
   width: 100%;
   border-radius: 10px;
   font-family: LeagueMonoVariable;
   font-size: 1.4rem;
   padding-bottom: 6px;
   background-color: var(--dark-gray);
}

.shownKeySpacebar {
   left: 6%;
   width: 88%;
}

.letter {
   z-index: 1;
   margin-top: 5px;
}

.letterUpperCase {
   margin-top: 10px;
}

.toLeftTop {
   background: linear-gradient(to left top, #e8e8e8, 82%, #888);
}

.toTop {
   background: linear-gradient(to top, #e8e8e8, 85%, #888);
}

.toRightTop {
   background: linear-gradient(to right top, #e8e8e8, 82%, #888);
}

.toLeft {
   background: linear-gradient(to left, #e8e8e8, 85%, #888);
}

.noGradient {
   background: inherit;
}

.toRight {
   background: linear-gradient(to right, #e8e8e8, 85%, #888);
}

.toLeftBottom {
   background: linear-gradient(to left bottom, #e8e8e8, 82%, #888);
}

.toBottom {
   background: linear-gradient(to bottom, #e8e8e8, 85%, #888);
}

.toRightBottom {
   background: linear-gradient(to right bottom, #e8e8e8, 82%, #888);
}
