.transitionTestingPage {
   padding: 20px;
}

/**/
/**/
/*    TRANSITION WITHOUT TRANSFORM    */
.stretchBox {
   border: 2px solid black;
   background-color: yellow;
   color: black;
   width: 200px;
   transition: color 1s linear, width 2s ease-in-out 2s;
}

.stretchBox:hover {
   background-color: pink;
   color: red;
   width: 400px;
}

/**/
/**/
/*    TRANSITION WITH TRANSFORM    */
.rotation {
   border: 2px solid black;
   width: 200px;
}

.rotation:hover {
   transform: rotate(90deg);
}
