.homePageViewHeight {
   height: 100vh;
   background-color: var(--home-purple);
}

.homePage {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100%;
   padding: 32vh 6.1%;
}

.welcome {
   color: var(--home-welcome-text);
   margin-bottom: 18px;
   font-weight: bold;
   font-size: 1.7rem;
   text-align: center;
}

.navSection {
   display: flex;
   justify-content: space-between;
   width: 100%;
   text-align: center;
}

.linkInHome {
   display: block;
   text-decoration: none;
   background-color: var(--nav-purple);
   padding: 8px 10.2%;
   color: var(--home-link-text);
   font-size: 1.2rem;
   font-weight: bold;
}
